{% extends 'base.html.twig' %}

{% block title %}Edit {{ event.name }}{% endblock %}

{% block body %}
<div class="w-75 my-5 mx-auto">
    <h1 class="my-5 text-center">Edit {{ event.name }}</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_event_index') }}">Back to Events</a>

    {{ include('event/_delete_form.html.twig') }}
</div>
{% endblock %}
